<ul class="treeview-menu" *ngFor="let child of items">
  <li *ngIf="child.children.length > 0" class="treeview">
    <a href="#">
      <i class="fa fa-circle-o"></i>{{child.displayName}}
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <app-menu-item  [items]="child.children"></app-menu-item>
  </li>

  <li *ngIf="child.children.length === 0">
    <a href="#">
      <i class="fa fa-circle-o"></i> {{child.displayName}}</a>
  </li>
</ul>