<p-growl [value]="msgs" sticky="sticky"></p-growl>

<div *ngFor="let item of tickets"> ... </div>

<div class="box box-primary">
    <!-- <div class="row row-m">
        <div class="col-md-6">
            <button pButton type="button" label="Save" class="ui-button-success" ></button>
            <button pButton type="button" label="Cancel" class="ui-button-secondary btn-m-l"></button>
        </div>
        <div class="col-md-6">
            <div style="display: flex;float:right;">
                <div style="padding: 3px 5px 0 0"> Show all fields</div>
                <div>
                    <label class="switch">
                        <input type="checkbox" (click)="hideFields()">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row editrole row-m">
        <div class="col-md-6">
            <ifl-dynamic-form [dataObject]="roleForm"></ifl-dynamic-form>
        </div>
        <div class="col-md-6">
            <div style="display: flex;float:right;">
                <div style="padding: 3px 5px 0 0"> Show all fields</div>
                <div>
                    <label class="switch">
                        <input type="checkbox" (click)="hideFields()">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <table *ngIf="isShowAllFields">
                <tr class="tr-h">
                    <td class="td-p-left">Created by {{tickets}}</td>
                    <td>
                        <span>Roberto Carlos</span>
                    </td>
                </tr>
                <tr class="tr-h">
                    <td class="td-p-left">Created Date</td>
                    <td>
                        <span>01/04/2018 11:20:56</span>
                    </td>
                </tr>
                <tr class="tr-h">
                    <td class="td-p-left">Last Modified By</td>
                    <td>
                        <span>Carlos De La Hoya</span>
                    </td>
                </tr>

                <tr class="tr-h">
                    <td class="td-p-left">Last Modified Date</td>
                    <td>
                        <span>03/04/2018 15:01:26</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="margin-left: 0;margin-right: 0">
        <p-tabView>
            <p-tabPanel header="Permissions" style="border-top: 0;">
                <div class="box-body">
                    <ifl-datatable #dtpermission [value]="roles">
                        <ifl-column header="#" [filter]="false" [style]="{'width':'10%', 'text-align': 'center'}">
                            <ng-template pTemplate="body">
                                <p-checkbox binary="true"></p-checkbox>
                            </ng-template>
                        </ifl-column>

                        <ifl-column *ngFor="let col of cols" [style]="col.style" [field]="col.field" [header]="col.header" [sortable]="col.sortable"
                            [filter]='col.filter'>
                            <ng-template pTemplate="body" let-col let-role="rowData" pTemplate="body" *ngIf="col.isDropdown">
                                <p-dropdown #dd [options]="permissionList" [(ngModel)]="role[col.field]" appendTo="body" [ngModelOptions]="{standalone: true}"
                                    (onChange)="onSelectedPermission($event.value,role)" *ngIf="role.PermissionMode !== 0"></p-dropdown>
                            </ng-template>
                        </ifl-column>


                        <!-- <ifl-column field="PermissionID" header="Permission" [filter]="false" [sortable]="false" filterMatchMode="equals">
                            <ng-template pTemplate="body" let-col let-role="rowData" pTemplate="body">
                                <p-dropdown #dd [options]="permissionList" [(ngModel)]="role[col.field]" appendTo="body" [ngModelOptions]="{standalone: true}"
                                    (onChange)="onSelectedPermission($event.value,role)" *ngIf="role.PermissionMode !== 0"></p-dropdown>
                            </ng-template>
                        </ifl-column> -->
                    </ifl-datatable>
                </div>

            </p-tabPanel>
            <p-tabPanel header="Users">
                <div class="btn-m-l-10">
                    <button pButton type="button" label="Add User" class="ui-button-secondary"></button>
                </div>
                <div class="box-body">
                    <ifl-datatable #dtuser [value]="users" [(selection)]="selection">
                        <ifl-column header="#" [filter]="false" [style]="{'width':'5%','text-align': 'center'}">
                            <ng-template pTemplate="body">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </ng-template>
                        </ifl-column>
                        <ifl-column field="UserID" header="User ID" [style]="{'width':'30%'}"></ifl-column>
                        <ifl-column field="UserName" header="Full Name" [style]="{'width':'30%'}"> </ifl-column>
                        <ifl-column field="companies" header="Company Name">
                            <ng-template let-col let-user="rowData" pTemplate="editor">
                                <p-dropdown #ddcompany [options]="companies" [style]="{'width':'150px'}" [(ngModel)]="user[col.field]" required="true" appendTo="body"
                                    [ngModelOptions]="{standalone: true}"></p-dropdown>
                            </ng-template>
                        </ifl-column>
                    </ifl-datatable>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
<!-- 
<button type="button" pButton icon="fa-external-link-square" label="Show" (click)="showDialog()"></button> -->


<p-dialog header="Permissions" [(visible)]="display" modal="modal" [width]="650" [minWidth]="300" [minY]="70">
    <div>
        <button pButton type="button" label="Save" class="ui-button-success"></button>
        <button pButton type="button" label="Cancel" class="ui-button-secondary btn-m-l"></button>
    </div>
    <div class="row row-m">
        <table>
            <tr class="tr-h ">
                <td class="td-p-left">Menu ID</td>
                <td>WM 01</td>
            </tr>
            <tr class="tr-h">
                <td class="td-p-left">Description</td>
                <td>Shipments</td>
            </tr>
            <tr>
                <td colspan="2">
                    <ifl-datatable #dtpermission [value]="roles">
                        <ifl-column header="#" [filter]="false" [style]="{'width':'5%','text-align': 'center'}">
                            <ng-template pTemplate="body">
                                <p-checkbox binary="true"></p-checkbox>
                            </ng-template>
                        </ifl-column>
                        <ifl-column field="MenuID" header="Menu ID" [style]="{'width':'25%'}"></ifl-column>
                        <ifl-column field="Description" header="Description" [style]="{'width':'25%'}"> </ifl-column>
                        <ifl-column field="ModuleID" header="Module ID" [style]="{'width':'20%'}"></ifl-column>
                        <ifl-column field="PermissionID" header="Permission" [style]="{'width':'25%'}" filterMatchMode="equals">
                            <ng-template pTemplate="body" let-col let-role="rowData" pTemplate="body">
                                <p-dropdown #dd [options]="permissionList" [(ngModel)]="role[col.field]" appendTo="body" [ngModelOptions]="{standalone: true}"
                                    (onChange)="onSelectedPermission($event.value,role)" *ngIf="role.PermissionMode !== 0"></p-dropdown>
                            </ng-template>
                        </ifl-column>
                    </ifl-datatable>
                </td>
            </tr>

        </table>
    </div>

</p-dialog>