<ifl-datatable [value]="roles" (onRowSelect)="onRowSelect($event)">
  <ifl-column header="#" [filter]="false">
    <ng-template let-role="rowData" pTemplate="body">
      <a style="text-decoration: underline" (click)="edit(role)">Edit</a>
    </ng-template>
  </ifl-column>
  <ifl-column field="roleid" header="{{'RoleID' | translate}}"></ifl-column>
  <ifl-column field="description" header="{{'Description' | translate}}"></ifl-column>
  <ifl-column field="active" header="{{'Active' | translate}}" styleClass="chkbox-center">
    <ng-template let-role="rowData" pTemplate="body">
      <p-checkbox disabled="true" binary="true" [(ngModel)]="role.active"></p-checkbox>
    </ng-template>
  </ifl-column>
  <ifl-column field="lastmodifiedby" header="{{'Last Modified By' | translate}}"> </ifl-column>
  <ifl-column header="{{'Last Modified Date' | translate}}">
    <ng-template let-role="rowData" pTemplate="body">
      {{role.lastmodifieddate | date:'dd/MM/yyyy hh:MM:ss'}}
    </ng-template>
  </ifl-column>
</ifl-datatable>