
:host /deep/.ui-datatable tbody > tr.ui-widget-content.ui-state-highlight {
    background-color:green !important;
    color: #fff;
}

:host /deep/ .ui-datatable .ui-paginator a{
    display: none;
}

.footer-dropdown{
    display: flex;
    flex-direction: row-reverse;
}

.btn-add{
    margin: 10px 0 10px 0;
    border-radius: 0;
    background-color: green;
    height: 30px;
}

:host /deep/ .chkbox-center{
    text-align: center !important;
    width: 10%;
}

:host /deep/ .action-with{
    width: 10%;
}

